<?xml version= "1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ksmartech.holiday.mapper.HolidayMapper">

    <select id="getInfo" resultType="com.ksmartech.holiday.model.DetailHolidayDto">
        SELECT *
        FROM detail_holi
        WHERE emp_no = #{empNo}
    </select>

    <select id="getEmpInfo" resultType="com.ksmartech.holiday.model.HolidayDto">
        SELECT *
        FROM holi
        WHERE emp_no = #{empNo}
    </select>

    <insert id="applyEmp">
        INSERT INTO detail_holi (emp_no, startDate, endDate, holiType)
        VALUES(#{empNo}, #{startDate}, #{endDate}, #{holiType})
    </insert>

    <select id="checkApproval" resultType="com.ksmartech.holiday.model.DetailHolidayDto">
        SELECT *
        FROM detail_holi d,employee e
        WHERE d.emp_no = e.emp_no AND e.team = #{team} AND d.state = '대기'
    </select>


    <update id="approvalHoli" parameterType="com.ksmartech.holiday.model.HoliParamDto">
        UPDATE detail_holi
        SET state = #{state}
        WHERE holi_no = #{holiNo}
    </update>

    <delete id="cancelHoli" parameterType="com.ksmartech.holiday.model.HoliParamDto">
        DELETE FROM detail_holi
        WHERE holi_no = #{holiNo} AND emp_no = #{empNo}
    </delete>

<!--    &lt;!&ndash; 승인 휴가 조회 &ndash;&gt;-->
<!--    <select id="findApprovalHoli" resultType="com.ksmartech.holiday.model.DetailHolidayDto">-->
<!--        select *-->
<!--        FROM detail_holi-->
<!--        WHERE state = '승인'-->
<!--    </select>-->

    <!-- 승인 휴가 '사용'으로 상태 변경 -->
    <update id="findApprovalHoli">
        UPDATE detail_holi
        SET state = '사용'
        WHERE state = '승인' AND startDate = #{strDate}
    </update>
</mapper>

