<?xml version= "1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ksmartech.holiday.mapper.EmployeeMapper">

    <select id="showEmpInfo" resultType="com.ksmartech.holiday.model.EmpDto">
        SELECT *
        FROM employee
        WHERE emp_no = #{empNo}
    </select>

    <update id="resignEmp">
        UPDATE employee
        SET state = '퇴사'
        WHERE emp_no = #{empNo}
    </update>

    <insert id="newEmp">
        INSERT INTO employee (join_date, name, birthday, position, team, rank, state)
        VALUES(#{joinDate}, #{name}, #{birthday}, #{position},#{team}, #{rank}, #{state})
    </insert>

</mapper>

