<?xml version= "1.0" encoding ="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.cal_holi.demo.DetailMapper">

    <select id="getInfo" resultType="com.cal_holi.demo.model.DetailHolidayDto">
        SELECT *
        FROM detail_holi
        WHERE emp_no = #{empNo}
    </select>


</mapper>